// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8952.dtsi"   

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/qcom,pmic-mpp.h>

/ {
	model = "Lenovo Yoga Tab 3 10 LTE";
	compatible = "lenovo,lxf-p5100", "qcom,msm8909";
	chassis-type = "tablet";

	aliases {
		serial0 = &blsp_uart1;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		stdout-path = "serial0";

		framebuffer@83200000 {
			compatible = "simple-framebuffer";
			reg = <0x83200000 (800 * 1280 * 3)>;

			width = <800>;
			height = <1280>;
			stride = <(1280 * 3)>;
			format = "r8g8b8";

			power-domains = <&gcc MDSS_GDSC>;

			clocks = <&gcc GCC_MDSS_AHB_CLK>,
				 <&gcc GCC_MDSS_AXI_CLK>,
				 <&gcc GCC_MDSS_VSYNC_CLK>,
				 <&gcc GCC_MDSS_MDP_CLK>,
				 <&gcc GCC_MDSS_BYTE0_CLK>,
				 <&gcc GCC_MDSS_PCLK0_CLK>,
				 <&gcc GCC_MDSS_ESC0_CLK>;
		};
	};
};
